@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
	padding: 0;
	margin: 0;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}


li {
	list-style: none;
}

a {
	text-decoration: none;
}

.top-container header {
    display: flex;
    justify-content: space-between;
    padding-left: 52px;
    padding-right: 56px;
    padding-top: 42px;
}

.top-container header nav ul{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


/* Gray 1 */

color: #333333;
}

ul li {
    padding-left: 50px;
}

.top-container h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */


    /* Gray 1 */

    color: #333333;
}

div main {
    display: flex;
    flex-direction: column;
    margin-top: 104px;
}

div main :nth-child(n) {
    padding-left: 277px;
}

main .url-nomral {
    padding-left: 0px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #2D9CDB;
} 

main .h2-main-first{
    padding-top: 18px;
    color: rebeccapurple;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;

    /* Gray 1 */

    color: #333333;

    /*size*/
    max-width: 850px;
}

div main .big-image {
    padding: 0px 56px 0px 52px;
    padding-top: 42px;
}

div main .h2-main-second {
    padding-top: 42px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;

    /* Gray 1 */

    color: #333333;

    /* size */
    max-width: 700px;
}

div main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    /* Gray 2 */
    
    color: #4F4F4F;

    /* size */

    width: 650px;
    margin-bottom: 42px;
}

/* Init form */

form {
    display: flex;
    flex-direction: column;
    padding-left: 0px !important;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* Gray 3 */

    color: #828282;
}

form span {
    padding-top: 9px;
}

form span input {
    padding-left: 21px !important;
    background-color: #f2f2f2;
    width: 350px;
    height: 57px;
    border-radius: 12px;
    border: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    /* Gray 4 */

    color: #bdbdbd;
}

form span button {
    margin-left: -106px;
    padding-left: 0px !important;
    width: 94px;
    height: 49px;
    border-radius: 12px;
    background-color: #2D9CDB;
    border: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Gray 6 */
    
    color: #F2F2F2;
}

/* end */

/* Start of information about us */

.information-about-us {
    margin-top: 200px;
    margin-left: 165px;
    margin-right: 100px;

}

    /* First section */

.information-about-us section:nth-child(n) h2{
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;
}

.horizontal-display {
    margin-top: 42px;
    margin-bottom: 156px;
    display: flex;
    justify-content: space-between;
}

.horizontal-display article:nth-child(n){
    width: 341px;
    height: 460px;
    padding: 46px 34px 46px 34px;

}

.horizontal-display article:nth-child(n):hover{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

.horizontal-display article img{
    width: 67px;
    height: 67px;
    margin-bottom: 35px;
}

.horizontal-display article h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #333333;

    margin-bottom: 24px;
}

.horizontal-display article p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    /* Gray 2 */
    
    color: #4F4F4F;

    margin-bottom: 30px;
}

.horizontal-display article button {
    background: #E0E0E0;
    border-radius: 12px;
    border: 0;
    width: 116px;
    height: 42px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #828282;
}

.horizontal-display article button:hover {  
    background: #2D9CDB;
    color: #FFFFFF;
}

 /* Start of second section */

.display-two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#margin-h2 {
    margin-bottom: 12px;
}

.display-two-columns article:nth-child(n) {
    width: 545px;
    height: 637px;
}

.display-two-columns article:nth-child(odd){
    margin-right: 20px;
}

.display-two-columns img {
    width: 545px;
    height: 545px;
}

.display-two-columns p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    
    /* Gray 3 */
    
    color: #828282;
}

.display-two-columns h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* Gray 1 */
    
    color: #333333;
}

.display-two-columns article:nth-child(odd) {
    margin-top: 176px;
}

/* Display only a ref */

.see-more {
    display: flex;
    justify-content: flex-end;
    margin-right: 140px;
}

.see-more a{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #2D9CDB;

    margin-bottom: 241px;
}

/* grid part for meet the team */

.grid-for-team {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.text-for-team {
    margin-top: 132px;
}

.text-for-team a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #EB5757;
}

.text-for-team h2 {
    padding-top: 7px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;

    width: 300px;
}

.text-for-team p {
    width: 300px;
    padding-top: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    /* Gray 2 */
    
    color: #4F4F4F;
}

.for-team-img {
    display: flex;
    align-items: center;
}

.for-team-img img:nth-child(n) {
    margin: 12px;
    border-radius: 24px;
}

.for-team-img img:nth-child(3) {
    align-self: flex-end;
}

div > h2 {
    margin-top: 196px;
    width: 940px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    /* Gray 1 */

    color: #333333;
}

/* Description for carlos tran */

.carlos-tran {
    display: flex;
    margin-top: 36px;
    margin-bottom: 200px;
}

.carlos-tran img {
    width: 90px;
    border-radius: 12px;
}

.carlos-tran article {
    margin-left: 30px;
    margin-top: 3px;
}

.carlos-tran article h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    /* Gray 1 */
    
    color: #333333;
}

.carlos-tran article p {
    margin-top: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    /* Gray 3 */
    
    color: #828282;
}

/* start of footer of body */

.body-footer {
    background-color: #100e1d;
}

.footer-container {
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
    margin-bottom: 118px;
}

.footer-container ul {
    display: flex;
    flex-direction: column;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    /* or 36px */


color: #FFFFFF;
}

.footer-container section h3 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    /* identical to box height */


/* Gray 6 */

color: #F2F2F2;
}

#img-of-pages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* footer del footer :V */

.disclaimer-page {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #F2F2F2;

    padding-bottom: 24px;
}
